.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("/bg_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    flex: 1;
}