.button {
  background-color: transparent;
  width: auto;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
}

.button:hover {
  background-color: #ffb623;
}

.active {
  background-color: #ffb623;
  color: black;
}