
.maDiv {
    height: 130px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 1px solid rgb(0 0 0 /15%);
}

.chiffre {
    font-weight: 900;
    transform: translateX(20%);
    margin-bottom: 0;
    width: 150px;
    font-size: 1.3rem;
}

.titre {
    opacity: 0.6;
    padding: 0px;
    margin-top: 0;
    transform: translateX(20%);
    width: 150px;
}