.ContactezNous {
    width: 70%;
    box-sizing: border-box;
    background-color: #AAA8B2;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
}


.ContactezNous h4 {
    margin: 0;
    padding: 0px 0px 5px 0px;
    font-weight: 800;
    font-family: var(--font-inter);
}

.ContactezNous h1 {
    font-weight: 800;
    font-family: var(--font-inter);
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
    border-bottom: 2px solid #00000099;
}

.ContactezNous input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    background-color: transparent;
}

.bodyMessage span {
    color: rgb(207, 0, 0);
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.bodyMessage {
    width: 60%;
}

.nomEmail div,
.telNomEntreprise div {
    width: 50%;
}

.nomEmail,
.telNomEntreprise {
    display: flex;
    gap: 30px;
    margin: 10px 50px 0px 0px;
}

.objet,
.message {
    margin: 10px 50px 0px 0px;
}

.message input {
    height: 150px;
}

.bar {
    width: 2px;
    border: 1px solid black;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 30px 30px 0px 30px;
}

.reseaux,
.adresse,
.contact,
.contactText,
.adresseText {
    margin: 0px 0px 30px 0;
    display: flex;
    justify-content: space-between;
}

.reseaux img {
    width: 40px;
    height: 40px;
}

.info h4,
.info p {
    margin: 0;
}

.adresse,
.contact {
    gap: 30px;
    justify-content: flex-start;
}

.adresseText,
.contactText {
    width: 80%;
    flex-direction: column;
}

.info h4,
.info p {
    padding: 0px 0px 10px 0px;
    font-size: 1.1rem;
}

.circle {
    width: 18px;
    height: 18px;
    background-color: #ff8623;
    border-radius: 50%;
    margin-top: 4px;
}