.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 70%;
  margin: 0 auto;
}

.faqHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.iconPlay {
  color: #ffb623;
  margin-right: 10px;
  margin-left: 10px;
}

.iconArrow {
  transition: transform 0.3s ease-in-out;
  margin-right: 12px;
}

.rotated {
  transform: rotate(180deg);
}

.faqQuestion {
  flex-grow: 1;
}

.faqResponse {
  background-color: #d4d3d3;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  width: 90%;
  
}