.contenair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 25rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 50px #f3f3f330;
    border-radius: 2rem;
}

.contenair img {
    width: 60%;
    height: 15%;
    margin: 2rem 0rem
}

.contenair span {
    width: 80%;
    border: 1px solid white;
}

.activeLogin {
    display: none
}

.form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liens {
    width: 80%;
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
}

.liens a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.lienActive {
    border-bottom: .2rem solid #ffb623;
}

.form input {
    width: 100%;
    height: 2.3rem;
    border-radius: 1rem;
    border: 1px solid #f3f3f34f;
    background-color: transparent;
    text-indent: 1.2rem;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    margin: 2.3rem 0rem;
    border-radius: 1rem !important;
}

.erreur {
    color: rgb(190 2 2);
    font-size: .7rem;
    padding-left: 1.5rem;
}