.titre {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 14px;
    border-bottom: solid rgb(126, 126, 126) 3px;
}

.boutons {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 25px auto;
    justify-content: flex-end;
}

.dashboard {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.inputform {
    padding-left: 8rem;
    padding-bottom: 12px;
}
